{% extends 'volunteerapp/base.html' %}
{% load static %}


{% block content %}
<style>
    form {
        margin: 10px;

    }

    select#projects {
        max-width: 250px;
    }

    div.first_quote {
        font-style: italic;
        font-size: 40px;
        text-align: center;
        margin-top: 35px;
        margin-bottom: 30px;
        box-shadow: 10px 10px 5px grey;
    }

    .center {
        display: block;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .meeting {
        margin-top: 50px;
        display: flex;
        align-items: center;

    }

    img.meeting_img {
        max-width: 440px;
        margin-left: 10px;
        margin-right: 5px;
        display: block;
        background: transparent;
        padding: 8px;
        border: 1px solid #ccc;
    }

    span.meeting_text {
        font-size: 22px;
    }

    ol {
        background: #b9b9bd;
        padding: 20px;
        max-width: 800px;
        margin-left: 135px;
        border-style: inset;
        border-width: 3px;

    }



    ol li {
        background: #ecedee;
        padding: 5px;
        margin-left: 35px;
    }

    div.list_header {
        text-align: center;
        font-size: 20px;
        margin-top: 90px;
        margin-bottom: 30px;
    }

    blockquote {
        background: #f9f9f9;
        border-left: 10px solid #ccc;
        margin: 1.5em 10px;
        padding: 0.5em 10px;
        quotes: "\201C""\201D""\2018""\2019";
        font-style: italic;
        font-size: 30px;
    }

    blockquote:before {
        color: #ccc;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
    }

    blockquote p {
        display: inline;
    }
    hr {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
      }
    div.user_roi {
        margin: 50px;
    }
    select {
        margin-bottom: 30px;
    }
    div.returns {
        margin-bottom: 20px;
        margin-top: 50px;
        font-size: 23px;
    }
    span.cash {
        color: green;
        font-weight: bolder;
    }
    div.div_footer {
        text-align: center;
        margin-bottom: 20px;
    }
    span.bottom_links {
        margin-left: 40px;
        margin-right: 40px;
    }
</style>




<img src="{% static 'volunteerapp/header_pic.png' %}" class="center">



<div class="first_quote">"If you had $75 billion for worthwhile causes, where should you start?"</div>



<div class="meeting">
    <img src="{% static 'volunteerapp/cc_meeting.jpg' %}" class="meeting_img">
    <span class="meeting_text"> With regards to global development, asking how you would spend $75 billion is more than
        just an intellectual exercise; it is a way to identify the areas of spending
        where we could achieve the most good. It is also a way of identifying areas
        where there isn't enough research, or where the benefits are not as big as we might assume. The Copenhagen
        Consensus Center is a think tank that researches and publishes the
        smartest solutions to the
        world's biggest problems. Their studies are conducted by more than 300 economists from internationally renowned
        institutions, including seven Nobel Laureates, to advise policymakers and philanthropists how to achieve the
        best
        results with their limited resources. So what are the best ways of advancing global welfare, supposing $75
        billion of resources over
        a 4‐year period?</span>
</div>


<div class="list_header">Given the budget constraints, they found 16 investments worthy of investment (in
    descending order of desirability):</div>
<ol>
    <li>Bundled micronutrient interventions to fight hunger and improve education</li>
    <li>Expanding the Subsidy for Malaria Combination Treatment </li>
    <li>Expanded Childhood Immunization Coverage</li>
    <li>Deworming of Schoolchildren, to improve educational and health outcomes </li>
    <li>Expanding Tuberculosis Treatment </li>
    <li>R&D to Increase Yield Enhancements, to decrease hunger, fight biodiversity destruction, and lessen the effects
        of climate change</li>
    <li>Investing in Effective Early Warning Systems to protect populations against natural disaster</li>
    <li>Strengthening Surgical Capacity </li>
    <li>Hepatitis B Immunization </li>
    <li>Using Low‐Cost Drugs in the case of Acute Heart Attacks in poorer nations (these are already available in
        developed countries)</li>
    <li>Salt Reduction Campaign to reduce chronic disease</li>
    <li>Geo‐Engineering R&D into the feasibility of solar radiation management</li>
    <li>Conditional Cash Transfers for School Attendance </li>
    <li>Accelerated HIV Vaccine R&D </li>
    <li>Extended Field Trial of Information Campaigns on the Benefits From Schooling</li>
    <li>Borehole and Public Hand Pump Intervention</li>
</ol>

<blockquote>
    Fighting malnourishment should be the top priority for policy-makers and philanthropists. Researchers argue
    that increasing annual global public investment in agricultural research and development from $8 billion to $13
    billion is necessary to make food more affordable.
</blockquote>


<hr />

<div class="user_roi">
    <form action="{% url 'volunteerapp:roi' %}" method="POST">
        {% csrf_token %}
        <select name="projects" id="projects">
            <option value="" disabled selected>Select a project</option>
            {% for investment_model in investment_models %}
            <option id="input_selected_project" value="{{investment_model.project}}">{{investment_model.project}}</option>
            {% endfor %}
        </select>

        <div>
            <!-- <label for="input_dollar_amount">Enter a Dollar Amount to See a Return on Investment</label> -->
            <div> Enter a Dollar Amount to See a Return on Investment</div>
            <input id="input_dollar_amount" type="text" class="field-divided" name="dollar_amount" placeholder="$" />

            <button id="btn_convert" class="btn btn-primary" type="submit">Submit</button>
        </div>

    </form>

    {% if dollar_amount %}

    {% for item in selected_roi %}

    <div class="returns"> A <span class="cash">${{dollar_amount}}</span>  investment in {{item.project}} would return <span class="cash">${{dis_roi}}</span>  worth of economic benefit.</div>
    <div>{{item.info}}</div>
    {% endfor %}
    {% endif %}
</div>

<hr />

<footer>
    <div class="div_footer">
        <span class="bottom_links"><a href="https://www.copenhagenconsensus.com/sites/default/files/cc12resultspressreleasefinal_0.pdf">Press Release</a></span>
        <span class="bottom_links"><a href="https://www.copenhagenconsensus.com/sites/default/files/outcome_document_updated_1105.pdf">Outcome Document</a></span>
        <span class="bottom_links"><a href="https://www.copenhagenconsensus.com/sites/default/files/post2015brochure_m.pdf">Charts</a></span>
        
    </div>
</footer>



{% endblock %}