{% extends 'volunteerapp/base.html' %}
{% load static %}


{% block content %}
<style>
    

    form {
        margin: 10px;

    }

    select#projects {
        max-width: 250px;
    }
    blockquote {
        font-style: italic;
        font-size: 40px;
        text-align: center;
        margin-top: 35px;
        margin-bottom: 30px;
    }
    .center {
        display: block;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
</style>




<img src="{% static 'volunteerapp/header_pic.png' %}" class="center">

<!-- <div class="top">
    <span><img src="{% static 'volunteerapp/copenhagen_consensus_logo.jpg' %}" class="logo"></span>
    <span class="head_title">Copenhagen Consensus</span>
    <span><img src="{% static 'volunteerapp/scale.gif' %}" class="logo2"></span>
</div> -->

<blockquote>"If you had $75 billion for worthwhile causes, where should you start?"</blockquote>


<!-- <form action="{% url 'volunteerapp:roi' %}" method="POST">
    {% csrf_token %}
    <select name="projects" id="projects">
        <option value="" disabled selected>Select a project</option>
        {% for investment_model in investment_models %}
        <option id="input_selected_project" value="{{investment_model.project}}">{{investment_model.project}}</option>
        {% endfor %}
    </select>

    <div>
        <label for="input_dollar_amount">Enter a Dollar Amount to See a Return on Investment</label>
        <input id="input_dollar_amount" type="text" class="field-divided" name="dollar_amount" />

        <button id="btn_convert" class="btn btn-primary" type="submit">Submit</button>
    </div>

</form>

{% if dollar_amount %}

{% for item in selected_roi %}

<div> A ${{dollar_amount}} investment in {{item.project}} would return ${{dis_roi}} worth of economic benefit.</div>
<div>{{item.info}}</div>
{% endfor %}
{% endif %} -->






{% endblock %}